<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--opisuje strone ze moze uzywac themyleaf -->
<head id="headId">
    <meta charset="UTF-8">
    <title>Title content</title>
</head>
<body>
<div align="center">

<h1 id="welcome">Welcome to the Guess the number game</h1>

<a id="play-game" href="play.html">Click to play</a> <!-- zawsze pojawi sie Play zamiast zawawrtosc strony google , th:href przeniesie nas od razu do localhost://play-->
    <div id="footerId">
    </div>
</div>
</body>
</html>